.cls-2 {
  fill: #fff;
}
.cls-5,
.cls-6 {
  stroke: #e94c56;
  stroke-linejoin: round;
}
.cls-5 {
  fill: #f0959d;
}
.cls-5,
.cls-6 {
  stroke-width: 0.71px;
}
.cls-6,
.cls-8 {
  fill: url(#_10_dpi_10_);
}
